---
apiVersion: v1
kind: ConfigMap
metadata:
  name: resume-profile
  labels:
    app.kubernetes.io/name: hugo
    app.kubernetes.io/component: data
    app.kubernetes.io/part-of: resume
    #+operator-builder:collection:field:name="profile.firstName",type=string,default="John",replace="john"
    #+operator-builder:collection:field:name="profile.lastName",type=string,default="Doe",replace="doe"
    app.kubernetes.io/instance: resume-johndoe
    app.kubernetes.io/managed-by: resume-operator
    app.kubernetes.io/created-by: resume-controller-manager
    #+operator-builder:collection:field:name="web.image.tag",type=string,default="latest"
    app.kubernetes.io/version: latest
data:
  #+operator-builder:field:name="profile.firstName",type=string,default=John,replace=FirstName
  #+operator-builder:field:name="profile.lastName",type=string,default=Doe,replace=LastName
  #+operator-builder:field:name="profile.phoneNumber",type=string,default="",replace=PhoneNumber
  #+operator-builder:field:name="profile.email",type=string,default="",replace=Email
  #+operator-builder:field:name="profile.linkedinURL",type=string,default="",replace=LinkedInURL
  #+operator-builder:field:name="profile.githubURL",type=string,default="",replace=GitHubURL
  #+operator-builder:field:name="profile.location",type=string,default="South Carolina",replace=Location
  #+operator-builder:field:name="profile.overview",type=string,default="",replace=Overview
  #+operator-builder:field:name="profile.coreCompetencies",type=string,default="",replace=CoreCompetencies
  #+operator-builder:field:name="profile.projects",type=string,default="",replace=Projects
  #+operator-builder:field:name="profile.skills",type=string,default="",replace=Skills
  profile.yaml: |-
    ---
    basicInfo:
      firstName: FirstName
      lastName: LastName
      photo: img/avatar.jpg
      contacts:
        - icon: fa-solid fa-phone
          info: PhoneNumber
        - icon: fa-solid fa-envelope
          info: Email
        - icon: fa-brands fa-linkedin
          info: LinkedInURL
        - icon: fa-brands fa-github
          info: GitHubURL
        - icon: fa-solid fa-map-marker-alt
          info: Location
    overview: Overview
    coreCompetencies: CoreCompetencies
    projects: Projects
    skills: Skills
