
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: profiles.resumes.jefedavis.dev
spec:
  group: resumes.jefedavis.dev
  names:
    kind: Profile
    listKind: ProfileList
    plural: profiles
    singular: profile
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Profile is the Schema for the profiles API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProfileSpec defines the desired state of Profile.
            properties:
              baseURL:
                default: example.com
                description: '(Default: "example.com")'
                type: string
              certIssuer:
                default: letsencrypt-staging
                description: '(Default: "letsencrypt-staging")'
                type: string
              ingressClass:
                default: nginx
                description: '(Default: "nginx")'
                type: string
              pageCount:
                default: "1"
                description: '(Default: "1")'
                type: string
              pageTitle:
                default: John Doe - CV
                description: '(Default: "John Doe - CV")'
                type: string
              pdf:
                properties:
                  image:
                    properties:
                      name:
                        default: jefedavis/resume
                        description: '(Default: "jefedavis/resume")'
                        type: string
                      pullPolicy:
                        default: IfNotPresent
                        description: '(Default: "IfNotPresent")'
                        type: string
                      registry:
                        default: ""
                        description: '(Default: "")'
                        type: string
                      tag:
                        default: latest
                        description: '(Default: "latest")'
                        type: string
                    type: object
                type: object
              profile:
                properties:
                  coreCompetencies:
                    description: '(Default: "")'
                    items:
                      type: string
                    type: array
                  email:
                    default: ""
                    description: '(Default: "")'
                    type: string
                  firstName:
                    default: John
                    description: '(Default: "John")'
                    type: string
                  githubURL:
                    default: ""
                    description: '(Default: "")'
                    type: string
                  lastName:
                    default: Doe
                    description: '(Default: "Doe")'
                    type: string
                  linkedinURL:
                    default: ""
                    description: '(Default: "")'
                    type: string
                  location:
                    default: South Carolina
                    description: '(Default: "South Carolina")'
                    type: string
                  overview:
                    default: ""
                    description: '(Default: "")'
                    type: string
                  phoneNumber:
                    default: ""
                    description: '(Default: "")'
                    type: string
                  projects:
                    description: '(Default: "")'
                    items:
                      type: string
                    type: array
                  skills:
                    description: '(Default: "")'
                    items:
                      properties:
                        family:
                          type: string
                        items:
                          items:
                            type: string
                          type: array
                      type: object
                    type: array
                type: object
              web:
                properties:
                  image:
                    properties:
                      name:
                        default: jefedavis/resume
                        description: '(Default: "jefedavis/resume")'
                        type: string
                      pullPolicy:
                        default: IfNotPresent
                        description: '(Default: "IfNotPresent")'
                        type: string
                      registry:
                        default: ""
                        description: '(Default: "")'
                        type: string
                      tag:
                        default: latest
                        description: '(Default: "latest")'
                        type: string
                    type: object
                type: object
            type: object
          status:
            description: ProfileStatus defines the observed state of Profile.
            properties:
              conditions:
                items:
                  description: PhaseCondition describes an event that has occurred
                    during a phase of the controller reconciliation loop.
                  properties:
                    lastModified:
                      description: LastModified defines the time in which this component
                        was updated.
                      type: string
                    message:
                      description: Message defines a helpful message from the phase.
                      type: string
                    phase:
                      description: Phase defines the phase in which the condition
                        was set.
                      type: string
                    state:
                      description: PhaseState defines the current state of the phase.
                      enum:
                      - Complete
                      - Reconciling
                      - Failed
                      - Pending
                      type: string
                  required:
                  - lastModified
                  - message
                  - phase
                  - state
                  type: object
                type: array
              created:
                type: boolean
              dependenciesSatisfied:
                type: boolean
              resources:
                items:
                  description: ChildResource is the resource and its condition as
                    stored on the workload custom resource's status field.
                  properties:
                    condition:
                      description: ResourceCondition defines the current condition
                        of this resource.
                      properties:
                        created:
                          description: Created defines whether this object has been
                            successfully created or not.
                          type: boolean
                        lastModified:
                          description: LastModified defines the time in which this
                            resource was updated.
                          type: string
                        message:
                          description: Message defines a helpful message from the
                            resource phase.
                          type: string
                      required:
                      - created
                      type: object
                    group:
                      description: Group defines the API Group of the resource.
                      type: string
                    kind:
                      description: Kind defines the kind of the resource.
                      type: string
                    name:
                      description: Name defines the name of the resource from the
                        metadata.name field.
                      type: string
                    namespace:
                      description: Namespace defines the namespace in which this resource
                        exists in.
                      type: string
                    version:
                      description: Version defines the API Version of the resource.
                      type: string
                  required:
                  - group
                  - kind
                  - name
                  - namespace
                  - version
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
